html {
    font-size: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #85340A;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    color: #F6B40E;
    text-align: center;
    text-shadow: 3px 3px 1px #85340A;
}

p, li {
    font-size: 16px;
    color: #F6B40E;
    line-height: 1;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #2F043A;
    padding: 0 20px 20px 20px;
    border: 5px solid #F6B40E;
}

img {
    display: block;
    margin: 0 auto;
}

.rotate0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#outer {
    width: 100%;
    text-align: center;
}

.inner {
    display: inline-block;
}