* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    text-align: center;
}

body {
    background-image: url("../graphics/vectors/bg-pattern.svg");
    background-repeat: repeat;
    background-size: 45%;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    position: relative;
    width: 80%;
    min-height: 100%;
    margin: auto;
    background-color: white;
}

#site-header h1 {
    font-family: 'Spectral SC', serif;
    font-size: 2.5rem;
    margin: 0;
    padding-top: 1.25rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -1%;
}

#site-header #phonetic {
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    color: lightgray;
    margin-bottom: 0.9375rem;
}

#site-header #placeholder {
    font-family: Arial, sans-serif;
    padding-top: 1.25rem;
    margin-bottom: 0.9375rem;
}

#site-header #warning {
    font-family: Arial, sans-serif;
    color: black;
    background-color: yellow;
    margin-bottom: 0.9375rem;
}

#site-header > .controls-bar {
    position: relative;
    margin: 0 auto;
}

#site-header > .controls-bar > .language-select {
    float: right;
}

#site-header > .controls-bar > .language-select > a {
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 0.625rem;
    color: black;
    text-align: center;
    padding: 0.625rem;
}

#site-header > .controls-bar > .language-select > a:hover {
    background-color: black;
    border: 0.125rem solid black;
    color: white;
}

#site-header > .controls-bar > .language-select > a:active {
    background-color: #333333;
    border: 0.125rem solid #333333;
}

#site-header > .controls-bar > .language-select > #lang-active {
    border: 0.125rem solid black;
}

#site-header ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    overflow: hidden;
    border-top: 0.0625rem solid black;
    border-bottom: 0.0625rem solid black;
}

#site-header nav ul li {
    display: inline-block;
}

#site-header li a {
    font-family: 'Spectral SC', serif;
    font-size: 1.25rem;
    color: black;
    text-align: center;
    padding: 1rem;
}

#site-header li a:hover {
    background-color: black;
    color: white;
}

#site-header li a:active {
    background-color: #333333;
}


/*  Content shared between pages    */
content {
    display: block;
    padding-top: 0.625rem;
    padding-bottom: 3rem;
    min-height: 30vh;
}

#content > h2 {
    padding-bottom: 1%;
}

content hr {
    display: block;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 0.0625rem solid black;
}

/*  Content exclusive to index.html  */
#introduction {
    display: grid;
    min-width: 30%;
    min-height: 30%;
    align-items: center;
    justify-items: center;
    margin-left: 12%;
    margin-right: 12%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}

.site-content#home #book-icon {
    width: 85%;
    height: 85%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.site-content#home #desc-1 {
    max-width: 80%;
    text-align: left;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1rem 0;
}

.site-content#home #desc-2 {
    max-width: 80%;
    text-align: left;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1rem 0;
}

.site-content#home #js-info {
    max-width: 40%;
    text-align: center;
    font-size: 0.8rem;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 4% auto;
    padding: 1% 1%;
    border: 0.1875rem double black;
}

/*  Shared content   */
.site-content a {
    text-decoration: underline;
}

.site-content .item {
    display: grid;
    min-width: 30%;
    min-height: 30%;
    margin-left: 12%;
    margin-right: 12%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 1fr 1fr 20%;
    align-items: center;
    justify-items: center;
}

.site-content#samples .item {
    grid-template-columns: 0%;
}

.item .logo {
    max-width: 100%;
    max-height: 100%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item .title {
    font-size: 1.5rem;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
}

.item .desc-1 {
    max-width: 80%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 3rem;
    text-align: left;
}

.item .desc-2 {
    max-width: 80%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 3rem;
    text-align: left;
}

.item .tech {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 2rem;
    align-self: center;
}

.item .downloadlink {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 2rem;
    align-self: center;
}

#site-footer {
    font-family: Helvetica, sans-serif;
    font-size: 0.9375rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

#site-footer > #copy-info {
    padding-bottom: 0.3125rem;
}

#site-footer > #graphics-info {
    font-size: 0.625rem;
    color: gray;
}

#site-footer > #graphics-info > a {
    font-size: 0.625rem;
    color: gray;
}